:root{
  --clr-light: #fff;
  --clr-light-100: #eeeeee;

  --clr-dark-100: #494b50;
  --clr-dark-300: #34353a;
  --clr-dark-900: #1d1b1b;

  --clr-accend: #0000A9;
  --clr-accend-2: #17958D;

  --ff-light: "stratos-lights";
  --ff-normal: "stratos";

}

.App {
  font-family:  var(--ff-normal),  sans-serif !important;
  letter-spacing: .1rem;
  font-size: 16px;
}

.button-expand{
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.button-expand::before{
  position: absolute;
  content: "";
  top: 14px;
  left: 7px;
  width: 0.5rem;
  border: 2px solid var(--clr-accend);
  border-radius: 30px;
  transform: rotate(45deg);
}

.button-expand::after{
  position: absolute;
  content: "";
  top: 14px;
  left: 13px;
  width: 0.5rem;
  border: 2px solid var(--clr-accend);
  border-radius: 30px;
  transform: rotate(-45deg);
}
.button-collapse{
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.button-collapse::before{
  position: absolute;
  content: "";
  top: 14px;
  left: 7px;
  width: 0.5rem;
  border: 2px solid var(--clr-accend);
  border-radius: 30px;
  transform: rotate(-45deg);
}

.button-collapse::after{
  position: absolute;
  content: "";
  top: 14px;
  left: 13px;
  width: 0.5rem;
  border: 2px solid var(--clr-accend);
  border-radius: 30px;
  transform: rotate(+45deg);
}

.content-details{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--clr-light);
}

.detail-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  width: calc(100% - 2rem);
  border-top: 1px rgba(73, 75, 80, 0.1) solid;
  border-bottom: 1px rgba(73, 75, 80, 0.1) solid;
  cursor: pointer;
}

.detail-button h3{
  font-size: 1.05rem;
}

.icon-check{
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-accend-2);
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.icon-check::before{
  position: absolute;
  content: "";
  top: 21px;
  left: 8px;
  width: 0.5rem;
  border: 2px solid var(--clr-light);
  border-radius: 30px;
  transform: rotate(45deg);
}

.icon-check::after{
  position: absolute;
  content: " ";
  top: 18px;
  left: 13px;
  width: 1rem;
  border: 2px solid var(--clr-light);
  border-radius: 30px;
  transform: rotate(-45deg);
}

.minus{
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-light-100);
  border-radius: 50%;
  cursor: pointer;
}

.minus::after{
  position: absolute;
  content: " ";
  display: block;
  top: 19px;
  left: 12px;
  width: 1rem;
  border-top: 2px solid;
  border-radius: 30px;
}
.plus{
  position: relative;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--clr-accend-2);
  border-radius: 50%;
  cursor: pointer;
}

.plus::after{
  position: absolute;
  content: " ";
  display: block;
  top: 19px;
  left: 12px;
  width: 1rem;
  border-top: 2px solid var(--clr-light);
  border-radius: 30px;
}

.plus::before{
  position: absolute;
  content: " ";
  display: block;
  top: 19px;
  left: 12px;
  width: 1rem;
  transform: rotate(90deg);
  border-top: 2px solid var(--clr-light);
  border-radius: 30px;
}

.hidden{
  display: none !important;
}